*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

body {
    background-color: #222;
}

main {
    max-width: 400px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

button {
    width: 40%;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transform: scale(1.1);
    background-color: #444;
    border: 1px solid #666 ;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
